k8s/pods.csv
k8s/pods.json
k8s/pods1.json
knative-interruptible/README.html
*/.DS_Store
.DS_Store
_site
Gemfile.lock
assets/images/k8s-cluster-size/~$Metrics.xlsx
assets/images/k8s-cluster-size/~$illustrations.pptx
assets/images/k8s-cluster-size/~$k8s-size-illustrations.pptx
